@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Регистрация";
}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1>@ViewData["Title"]</h1>
        <h2 id="external-login-title">Свържете своя акаунт от @Model.ProviderDisplayName.</h2>
        <hr />

        <p id="external-login-description" class="text-info">
            Вие успешно се аутентикирахте с <strong>@Model.ProviderDisplayName</strong>.
            Моля, въведете имейл адрес за този сайт по-долу и кликнете върху бутона Регистрация, за да завършите влизането.
        </p>

        <div class="row">
            <div class="col-md-4">
                <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Моля, въведете вашия имейл." />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Регистрация</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
