@model IEnumerable<SportUniTrack.Models.Equipment>

@{
    ViewData["Title"] = "Списък с екипировка";
}

<div class="container">
    <h1 class="mt-5">Списък с екипировка</h1>

    <div class="row mt-4">
        <div class="col">
            <a class="btn btn-primary mb-3" asp-action="Create">Добави нова</a>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Име</th>
                        <th>Описание</th>
                        <th>Количество</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                            <td>
                                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Редактиране</a>
                                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Детайли</a>
                                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
