@model SportUniTrack.Models.ApplicationUser

@{
    ViewData["Title"] = "Изтриване";
}

<h1>Изтриване</h1>

<div class="container">
    <h3 class="mt-4">Сигурни ли сте, че искате да изтриете този потребител?</h3>

    <div class="mt-4">
        <h4>Потребител</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">Име:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.FirstName)</dd>

            <dt class="col-sm-4">Фамилия:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.LastName)</dd>

            <dt class="col-sm-4">Роля:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Role)</dd>

            <dt class="col-sm-4">Факултетен номер:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.FacultyNumber)</dd>

            <dt class="col-sm-4">Специалност:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Speciality)</dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Изтрий</button> |
            <a asp-action="Index" class="btn btn-secondary">Назад към списъка</a>
        </form>
    </div>
</div>
