@model SportUniTrack.Models.ApplicationUser

@{
    ViewData["Title"] = "Детайли";
}

<h1>Детайли</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 class="mb-4">Потребител</h4>
            <dl class="row">
                <dt class="col-sm-4">Име:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FirstName)</dd>

                <dt class="col-sm-4">Фамилия:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.LastName)</dd>

                <dt class="col-sm-4">Роля:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Role)</dd>

                <dt class="col-sm-4">Факултетен номер:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FacultyNumber)</dd>

                <dt class="col-sm-4">Специалност:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Speciality)</dd>
            </dl>
        </div>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary me-2">Редактирай</a>
    <a asp-action="Index" class="btn btn-secondary">Назад към списъка</a>
</div>
