@model IEnumerable<SportUniTrack.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1 class="mt-5">Потребители на Спортна зала ПУ</h1>

    <div class="row mt-4">
        <div class="col">
            <h2>Преподаватели</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Име</th>
                        <th>Фамилия</th>
                        <th>Вид потребител</th>
                        <th>Факултетен номер</th>
                        <th>Специалност</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(u => string.IsNullOrEmpty(u.FacultyNumber)))
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Role)</td>
                            <td>
                                <span style="color: green;">Няма</span>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Speciality)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col">
            <h2>Студенти</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Име</th>
                        <th>Фамилия</th>
                        <th>Вид потребител</th>
                        <th>Факултетен номер</th>
                        <th>Специалност</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(u => !string.IsNullOrEmpty(u.FacultyNumber)))
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Role)</td>
                            <td>@Html.DisplayFor(modelItem => item.FacultyNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.Speciality)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
