@model IEnumerable<SportUniTrack.Models.ApplicationUser>

@{
    ViewData["Title"] = "Search users";
}

<h1>Търсене на потребители</h1>

<form asp-controller="Borrowings" asp-action="SearchUsers" method="get">
    <div class="form-group">
        <label for="searchString">Търсене:</label>
        <input type="text" class="form-control" id="searchString" name="searchString" value="@ViewBag.CurrentFilter">
    </div>
    <button type="submit" class="btn btn-primary">Търсене</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Първо име</th>
            <th>Фамилно име</th>
            <th>Роля</th>
            <th>Факултетен номер</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Role</td>
                <td>@user.FacultyNumber</td>
            </tr>
        }
    </tbody>
</table>
