@model SportUniTrack.Models.Borrowing

@{
    ViewData["Title"] = "Детайли";
}

<h1>Детайли</h1>

<div>
    <h4>Наеми</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Обратно към списъка</a>
</div>
