@model IEnumerable<SportUniTrack.Models.Borrowing>

@{
    ViewData["Title"] = "Наемания на спортна екипировка от склада";
}

<div class="container">
    <h1 class="text-center mt-5 mb-4">Наемания на спортна екипировка</h1>

    <div class="d-flex justify-content-center mb-3">
        <a class="btn btn-primary me-2" asp-action="Create">Добави наем на спортна екипировка</a>
        <a class="btn btn-success" asp-action="Create" asp-controller="ApplicationUsers">Добави потребител</a>
    </div>

    <form method="get" asp-action="Index">
        <div class="row justify-content-center mb-3">
            <div class="col-auto">
                <label for="startDate" class="col-form-label">Дата на наемане</label>
                <input type="date" class="form-control" id="startDate" name="BorrowedDate">
            </div>
            <div class="col-auto align-self-end">
                <button type="submit" class="btn btn-primary">Търсене</button>
            </div>
        </div>
    </form>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="mt-5">Невърнати екипировки</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Потребител</th>
                            <th>Екипировка</th>
                            <th>Наемане на</th>
                            <th>Връщане на</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(x => x.ReturnedAt == null))
                        {
                            <tr class="table-danger">
                                <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                                <td>@Html.DisplayFor(modelItem => item.EquipmentId)</td>
                                <td>@Html.DisplayFor(modelItem => item.BorrowedAt)</td>
                                <td>@Html.DisplayFor(modelItem => item.ReturnedAt)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="mt-5">Върнати екипировки</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Потребител</th>
                            <th>Екипировка</th>
                            <th>Наемане на</th>
                            <th>Връщане на</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Where(x => x.ReturnedAt != null))
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.UserId)</td>
                                <td>@Html.DisplayFor(modelItem => item.EquipmentId)</td>
                                <td>@Html.DisplayFor(modelItem => item.BorrowedAt)</td>
                                <td>@Html.DisplayFor(modelItem => item.ReturnedAt)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

